.create-tour-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registration {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

/* Style the dropdown */
.select-container {
  position: relative;
}

.select-container .form-control {
  z-index: 1;
}

.select-container .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 2;
}

/* Add more styles as needed */
